li {
    display:block;
    position:relative;
    float:left;
    text-align: center;
}
li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:80px; 
    line-height:35px; 
    color: inherit;
}

li li a {
    font-size:80%;
} 

li:hover {
    background:#dfdcdc;
}

ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; 
    list-style: none;
}

/* li:hover ul ul {
    display:block;
} */

li:hover .sub-headers-list {
    display:block;
}

/* li:hover .sub-headers-list app-sub-header li {
    display:none;
}  */

.sub-header:hover li {
    /* display: block; */
}