<div class="sub-header__container">
    <li>
        <a href="#">{{subHeaderName}}</a>

        <ul 
            class="deep-headers-list"
            *ngIf="deepHeadersList.length > 0">
            <app-sub-header
                *ngFor="let deepHeader of deepHeadersList" 
                [subHeader]="deepHeader"
                class="deep-header">
            </app-sub-header>
            <!-- <li *ngFor="let deepHeader of deepHeadersList">
                <a href="#">
                    {{deepHeader.key}}
                </a>
            </li> -->
        </ul>
    </li>
</div>