
a {
    color: inherit;
    text-decoration: inherit;
}

li:hover {
    background:#dfdcdc;
}
.sub-header__container,.sub-header__container li ul { 
    padding:0px; 
    list-style:none; 
}
.sub-header__container li,.sub-header__container li ul li { 
    width:100%; 
    position:relative; 
    padding: 5px 0;
}

.deep-headers-list { 
    display:none; 
    position:absolute; 
    left:80px; 
    top:0px; 
    width: 80px;
}

li:hover .deep-headers-list { 
    display:block; 
}

.deep-headers-list app-sub-header li li { 
    display:none; 
}

.deep-headers-list app-sub-header li:hover li { 
    display:block; 
}

.deep-headers-list li{
    padding: 5px 0;
}

